html{
    font-size: 10px;
    height: 100%;
    background-image: url("../images/seamless2.jpg");
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 60px;

    color: black;
    text-align: center;
    text-shadow: 3px; /* four values: horizontal offset, vertical offset, blur radius, bas colour of shadprw*/
    /*margin:0*/
    /*padding:20pc 0;*/ /*some additional code*/
}

h2{
    font-size: 40px;
    color: black;

}

h3{
    font-size: 30px;
    color: black;
}
p, th, tr{
    color: black;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 1px;
}
li, input, label, select, option{
    color: black;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

legend{
    color: black;
    font-size: 25px;
    line-height: 2;
    letter-spacing: 1px;
}


/*styling the body CSS works in boxes*/
/*background: rgba(255, 165, 0, 0.73)*/

body { 
    
    background: rgba(218, 219, 223, 0.83);
    width: 80%;
    border: 1px solid #ddd;
    margin: 0 auto; /*first value for top and bottom side, second value for left and right*/
    /*background-color: lightgray; /* set a bit lighter than header bon*/
    padding: 0 20px 20px 20px; /* padding set top right bottom left*/
    /*border: 5px solic black; /* black border on all sides*/
}


img{
    border-radius: 8px;
    display: block; /* giving margin block-level behavious like a body so that it can be given a border*/
    padding: 5px;
    width: 250px;
    /* NB instructions assum image width smaller than 600 px, if larger will spill, meaning 1- reduce in graphics editor, or 2: resize by css width property in img element*/
}


  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }